@font-face {
  font-family: 'museo_sans_cyrl';
  src: url('/fonts/MuseoSansCyrl100.woff') format('woff2');
  src: url('/fonts/MuseoSansCyrl100.woff2') format('woff');
  font-weight: 100;
  font-style: normal;

}

@font-face {
  font-family: 'museo_sans_cyrl';
  src: url('/fonts/MuseoSansCyrl300.woff') format('woff2');
  src: url('/fonts/MuseoSansCyrl300.woff2') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'museo_sans_cyrl';
  src: url('/fonts/MuseoSansCyrl500.woff') format('woff2');
  src: url('/fonts/MuseoSansCyrl500.woff2') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'museo_sans_cyrl';
  src: url('/fonts/MuseoSansCyrl700.woff') format('woff2');
  src: url('/fonts/MuseoSansCyrl700.woff2') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'museo_sans_cyrl';
  src: url('/fonts/MuseoSansCyrl900.woff') format('woff2');
  src: url('/fonts/MuseoSansCyrl900.woff2') format('woff');
  font-weight: 900;
  font-style: normal;

}