.sprite_main {
  background-image: url(/img/sprite-min.png?v=3);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite_main-breadcrumbs__home {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}

.sprite_main-button-arrow-right-black {
  width: 8px;
  height: 14px;
  background-position: -30px -5px;
}

.sprite_main-button-arrow-right-white {
  width: 8px;
  height: 14px;
  background-position: -48px -5px;
}

.sprite_main-checkout-checked-green {
  width: 20px;
  height: 17px;
  background-position: -66px -5px;
}

.sprite_main-checkout-flag-green {
  width: 29px;
  height: 43px;
  background-position: -96px -5px;
}

.sprite_main-checkout-truck-green {
  width: 47px;
  height: 34px;
  background-position: -135px -5px;
}

.sprite_main-close {
  width: 20px;
  height: 20px;
  background-position: -192px -5px;
}

.sprite_main-close-2 {
  width: 28px;
  height: 27px;
  background-position: -222px -5px;
}

.sprite_main-close-small {
  width: 12px;
  height: 12px;
  background-position: -260px -5px;
}

.sprite_main-cloth-antipilling {
  width: 50px;
  height: 50px;
  background-position: -282px -5px;
}

.sprite_main-cloth-dry {
  width: 50px;
  height: 50px;
  background-position: -5px -65px;
}

.sprite_main-cloth-envelope {
  width: 50px;
  height: 50px;
  background-position: -65px -65px;
}

.sprite_main-cloth-stretch {
  width: 50px;
  height: 50px;
  background-position: -125px -65px;
}

.sprite_main-empty-reviews-arrow-gray {
  width: 41px;
  height: 41px;
  background-position: -185px -65px;
}

.sprite_main-filter_checkbox {
  width: 13px;
  height: 9px;
  background-position: -342px -5px;
}

.sprite_main-footer__phone {
  width: 14px;
  height: 20px;
  background-position: -365px -5px;
}

.sprite_main-form-error-smile-gray {
  width: 46px;
  height: 46px;
  background-position: -236px -65px;
}

.sprite_main-form-header-smile-green {
  width: 31px;
  height: 31px;
  background-position: -342px -35px;
}

.sprite_main-form-input-letter-green {
  width: 17px;
  height: 13px;
  background-position: -5px -35px;
}

.sprite_main-form-input-person-green {
  width: 12px;
  height: 14px;
  background-position: -32px -35px;
}

.sprite_main-form-input-phone-green {
  width: 11px;
  height: 15px;
  background-position: -54px -35px;
}

.sprite_main-form-input-point-green {
  width: 10px;
  height: 15px;
  background-position: -75px -35px;
}

.sprite_main-form-secure-lock-gray {
  width: 25px;
  height: 34px;
  background-position: -292px -76px;
}

.sprite_main-form-succsess-smile-gray {
  width: 46px;
  height: 46px;
  background-position: -327px -76px;
}

.sprite_main-green-arrow-right {
  width: 7px;
  height: 10px;
  background-position: -192px -35px;
}

.sprite_main-green-checked {
  width: 25px;
  height: 25px;
  background-position: -5px -132px;
}

.sprite_main-green-letter {
  width: 17px;
  height: 13px;
  background-position: -40px -132px;
}

.sprite_main-green-lock {
  width: 15px;
  height: 19px;
  background-position: -67px -132px;
}

.sprite_main-green-pen {
  width: 16px;
  height: 16px;
  background-position: -92px -132px;
}

.sprite_main-green-phone {
  width: 11px;
  height: 15px;
  background-position: -260px -35px;
}

.sprite_main-header__basket {
  width: 44px;
  height: 46px;
  background-position: -118px -132px;
}

.sprite_main-header__basket_active {
  width: 44px;
  height: 46px;
  background-position: -172px -132px;
}

.sprite_main-header__basket_seen {
  width: 31px;
  height: 18px;
  background-position: -226px -132px;
}

.sprite_main-header__basket_seen_active {
  width: 31px;
  height: 18px;
  background-position: -267px -132px;
}

.sprite_main-header__basket_wishlist {
  width: 26px;
  height: 21px;
  background-position: -308px -132px;
}

.sprite_main-header__basket_wishlist_active {
  width: 26px;
  height: 21px;
  background-position: -344px -132px;
}

.sprite_main-header__city_point {
  width: 17px;
  height: 22px;
  background-position: -40px -163px;
}

.sprite_main-header__enter {
  width: 18px;
  height: 18px;
  background-position: -67px -163px;
}

.sprite_main-header__phones_viber {
  width: 25px;
  height: 26px;
  background-position: -226px -163px;
}

.sprite_main-header__phones_whatsapp {
  width: 26px;
  height: 25px;
  background-position: -261px -163px;
}

.sprite_main-header__search {
  width: 18px;
  height: 18px;
  background-position: -297px -163px;
}

.sprite_main-header__search_active {
  width: 18px;
  height: 18px;
  background-position: -325px -163px;
}

.sprite_main-icon-arrow-gray-left {
  width: 9px;
  height: 13px;
  background-position: -95px -163px;
}

.sprite_main-icon-arrow-green-left_active {
  width: 20px;
  height: 20px;
  background-position: -353px -163px;
}

.sprite_main-icon-arrow-small-left-gray {
  width: 13px;
  height: 10px;
  background-position: -5px -193px;
}

.sprite_main-icon-arrow-small-left-green_active {
  width: 13px;
  height: 10px;
  background-position: -67px -193px;
}

.sprite_main-icon-arrow-small-right-dark-green {
  width: 13px;
  height: 10px;
  background-position: -90px -193px;
}

.sprite_main-icon-x-gray {
  width: 12px;
  height: 12px;
  background-position: -113px -193px;
}

.sprite_main-icon-x-red_active {
  width: 12px;
  height: 12px;
  background-position: -135px -193px;
}

.sprite_main-icon__arrow_black_to_right {
  width: 19px;
  height: 13px;
  background-position: -157px -193px;
}

.sprite_main-icon__arrow_green_down {
  width: 10px;
  height: 7px;
  background-position: -186px -193px;
}

.sprite_main-icon__arrow_green_up {
  width: 10px;
  height: 7px;
  background-position: -206px -193px;
}

.sprite_main-icon__arrow_to_top {
  width: 12px;
  height: 16px;
  background-position: -297px -193px;
}

.sprite_main-icon__arrow_yellow_to_right {
  width: 7px;
  height: 10px;
  background-position: -319px -193px;
}

.sprite_main-icon__goods_count {
  width: 55px;
  height: 32px;
  background-position: -5px -213px;
}

.sprite_main-icon__popup_info {
  width: 22px;
  height: 22px;
  background-position: -336px -193px;
}

.sprite_main-icon_arrow_gray_up {
  width: 13px;
  height: 9px;
  background-position: -70px -225px;
}

.sprite_main-listing__filter {
  width: 19px;
  height: 18px;
  background-position: -93px -225px;
}

.sprite_main-listing__filter_arrow_down {
  width: 10px;
  height: 12px;
  background-position: -368px -193px;
}

.sprite_main-listing__filter_color-checked {
  width: 22px;
  height: 22px;
  background-position: -122px -225px;
}

.sprite_main-listing__filter_reset_red {
  width: 10px;
  height: 10px;
  background-position: -186px -215px;
}

.sprite_main-listing__switch_tile {
  width: 44px;
  height: 32px;
  background-position: -206px -225px;
}

.sprite_main-listing__switch_tile-wide {
  width: 44px;
  height: 32px;
  background-position: -260px -225px;
}

.sprite_main-listing__switch_tile-wide_active {
  width: 44px;
  height: 32px;
  background-position: -314px -225px;
}

.sprite_main-listing__switch_tile_active {
  width: 44px;
  height: 32px;
  background-position: -5px -267px;
}

.sprite_main-main-size-ruller {
  width: 47px;
  height: 101px;
  background-position: -59px -267px;
}

.sprite_main-main-style-leaf-gray {
  width: 39px;
  height: 45px;
  background-position: -116px -267px;
}

.sprite_main-orange-arrow {
  width: 13px;
  height: 10px;
  background-position: -154px -225px;
}

.sprite_main-orange-arrow-2 {
  width: 13px;
  height: 10px;
  background-position: -165px -267px;
}

.sprite_main-orange-dark-arrow {
  width: 13px;
  height: 10px;
  background-position: -188px -267px;
}

.sprite_main-product-set-banner-cycle-white {
  width: 33px;
  height: 42px;
  background-position: -211px -267px;
}

.sprite_main-product__basket {
  width: 19px;
  height: 19px;
  background-position: -254px -267px;
}

.sprite_main-product__basket_done {
  width: 26px;
  height: 19px;
  background-position: -283px -267px;
}

.sprite_main-product__old-price {
  width: 90px;
  height: 29px;
  background-position: -254px -296px;
}

.sprite_main-product__old-price_detailed {
  width: 116px;
  height: 34px;
  background-position: -116px -335px;
}

.sprite_main-product__reviews-count {
  width: 29px;
  height: 29px;
  background-position: -5px -335px;
}

.sprite_main-product__star {
  width: 15px;
  height: 15px;
  background-position: -319px -267px;
}

.sprite_main-product__star_active {
  width: 15px;
  height: 16px;
  background-position: -344px -267px;
}

.sprite_main-product__wishlist {
  width: 26px;
  height: 21px;
  background-position: -242px -335px;
}

.sprite_main-product__wishlist_active {
  width: 26px;
  height: 21px;
  background-position: -278px -335px;
}

.sprite_main-product__wishlist_done {
  width: 26px;
  height: 19px;
  background-position: -165px -293px;
}

.sprite_main-product_delivery-truck {
  width: 35px;
  height: 21px;
  background-position: -314px -335px;
}

.sprite_main-product_image-gallery-play {
  width: 41px;
  height: 41px;
  background-position: -389px -5px;
}

.sprite_main-product_review-person-green {
  width: 23px;
  height: 26px;
  background-position: -383px -56px;
}

.sprite_main-product_ruller {
  width: 26px;
  height: 31px;
  background-position: -383px -92px;
}

.sprite_main-product_social-facebook {
  width: 9px;
  height: 18px;
  background-position: -416px -56px;
}

.sprite_main-product_social-odnoklasniki {
  width: 10px;
  height: 19px;
  background-position: -419px -84px;
}

.sprite_main-product_social-twitter {
  width: 19px;
  height: 16px;
  background-position: -380px -133px;
}

.sprite_main-product_social-vk {
  width: 20px;
  height: 11px;
  background-position: -409px -133px;
}

.sprite_main-product_warranty-thumb-up {
  width: 34px;
  height: 28px;
  background-position: -388px -159px;
}

.sprite_main-question {
  width: 62px;
  height: 62px;
  background-position: -359px -293px;
}

.sprite_main-scroll-arrow-gray-down {
  width: 8px;
  height: 5px;
  background-position: -419px -113px;
}

.sprite_main-scroll-arrow-gray-up {
  width: 8px;
  height: 5px;
  background-position: -28px -197px;
}

.sprite_main-slider-arrow-circle-white-left {
  width: 68px;
  height: 68px;
  background-position: -440px -5px;
}

.sprite_main-social__footer_facebook {
  width: 13px;
  height: 26px;
  background-position: -439px -83px;
}

.sprite_main-social__footer_instagram {
  width: 26px;
  height: 26px;
  background-position: -462px -83px;
}

.sprite_main-social__footer_vk {
  width: 29px;
  height: 17px;
  background-position: -439px -119px;
}

.sprite_main-social__side_facebook {
  width: 29px;
  height: 29px;
  background-position: -478px -119px;
}

.sprite_main-social__side_facebook_active {
  width: 29px;
  height: 29px;
  background-position: -432px -158px;
}

.sprite_main-social__side_instagram {
  width: 29px;
  height: 29px;
  background-position: -471px -158px;
}

.sprite_main-social__side_instagram_active {
  width: 29px;
  height: 29px;
  background-position: -388px -197px;
}

.sprite_main-social__side_vk {
  width: 29px;
  height: 29px;
  background-position: -427px -197px;
}

.sprite_main-social__side_vk_active {
  width: 29px;
  height: 29px;
  background-position: -466px -197px;
}











