.sprite_main {
  background-image: url(/img/sprite-min.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite_main-breadcrumbs__home {
  width: 15px;
  height: 15px;
  background-position: -2px -2px;
}

.sprite_main-button-arrow-right-black {
  width: 8px;
  height: 14px;
  background-position: -21px -2px;
}

.sprite_main-button-arrow-right-white {
  width: 8px;
  height: 14px;
  background-position: -33px -2px;
}

.sprite_main-checkout-checked-green {
  width: 20px;
  height: 17px;
  background-position: -45px -2px;
}

.sprite_main-checkout-flag-green {
  width: 29px;
  height: 43px;
  background-position: -69px -2px;
}

.sprite_main-checkout-truck-green {
  width: 47px;
  height: 34px;
  background-position: -102px -2px;
}

.sprite_main-close {
  width: 20px;
  height: 20px;
  background-position: -153px -2px;
}

.sprite_main-empty-reviews-arrow-gray {
  width: 41px;
  height: 41px;
  background-position: -177px -2px;
}

.sprite_main-filter_checkbox {
  width: 13px;
  height: 9px;
  background-position: -222px -2px;
}

.sprite_main-footer__phone {
  width: 14px;
  height: 20px;
  background-position: -239px -2px;
}

.sprite_main-form-header-smile-green {
  width: 31px;
  height: 31px;
  background-position: -257px -2px;
}

.sprite_main-form-input-letter-green {
  width: 17px;
  height: 13px;
  background-position: -2px -37px;
}

.sprite_main-form-input-person-green {
  width: 12px;
  height: 14px;
  background-position: -23px -37px;
}

.sprite_main-form-input-phone-green {
  width: 11px;
  height: 15px;
  background-position: -39px -37px;
}

.sprite_main-form-input-point-green {
  width: 10px;
  height: 15px;
  background-position: -54px -37px;
}

.sprite_main-form-secure-lock-gray {
  width: 25px;
  height: 34px;
  background-position: -222px -37px;
}

.sprite_main-form-succsess-smile-gray {
  width: 46px;
  height: 46px;
  background-position: -2px -75px;
}

.sprite_main-header__basket {
  width: 44px;
  height: 46px;
  background-position: -251px -37px;
}

.sprite_main-header__basket_active {
  width: 44px;
  height: 46px;
  background-position: -52px -87px;
}

.sprite_main-header__basket_seen {
  width: 31px;
  height: 18px;
  background-position: -100px -87px;
}

.sprite_main-header__basket_seen_active {
  width: 31px;
  height: 18px;
  background-position: -135px -87px;
}

.sprite_main-header__basket_wishlist {
  width: 26px;
  height: 21px;
  background-position: -170px -87px;
}

.sprite_main-header__basket_wishlist_active {
  width: 26px;
  height: 21px;
  background-position: -200px -87px;
}

.sprite_main-header__city_point {
  width: 17px;
  height: 22px;
  background-position: -153px -37px;
}

.sprite_main-header__enter {
  width: 18px;
  height: 18px;
  background-position: -230px -87px;
}

.sprite_main-header__phones_viber {
  width: 25px;
  height: 26px;
  background-position: -252px -87px;
}

.sprite_main-header__phones_whatsapp {
  width: 26px;
  height: 25px;
  background-position: -100px -117px;
}

.sprite_main-header__search {
  width: 18px;
  height: 18px;
  background-position: -130px -117px;
}

.sprite_main-header__search_active {
  width: 18px;
  height: 18px;
  background-position: -152px -117px;
}

.sprite_main-icon-arrow-gray-left {
  width: 9px;
  height: 13px;
  background-position: -281px -87px;
}

.sprite_main-icon-arrow-green-left_active {
  width: 20px;
  height: 20px;
  background-position: -174px -117px;
}

.sprite_main-icon-arrow-small-left-gray {
  width: 13px;
  height: 10px;
  background-position: -281px -104px;
}

.sprite_main-icon-arrow-small-left-green_active {
  width: 13px;
  height: 10px;
  background-position: -198px -118px;
}

.sprite_main-icon-arrow-small-right-dark-green {
  width: 13px;
  height: 10px;
  background-position: -215px -118px;
}

.sprite_main-icon-x-gray {
  width: 12px;
  height: 12px;
  background-position: -232px -118px;
}

.sprite_main-icon-x-red_active {
  width: 12px;
  height: 12px;
  background-position: -248px -118px;
}

.sprite_main-icon__arrow_black_to_right {
  width: 19px;
  height: 13px;
  background-position: -264px -118px;
}

.sprite_main-icon__arrow_green_down {
  width: 10px;
  height: 7px;
  background-position: -2px -135px;
}

.sprite_main-icon__arrow_green_up {
  width: 10px;
  height: 7px;
  background-position: -16px -135px;
}

.sprite_main-icon__arrow_to_top {
  width: 12px;
  height: 16px;
  background-position: -30px -135px;
}

.sprite_main-icon__arrow_yellow_to_right {
  width: 7px;
  height: 10px;
  background-position: -287px -118px;
}

.sprite_main-icon__goods_count {
  width: 55px;
  height: 32px;
  background-position: -198px -134px;
}

.sprite_main-icon__popup_info {
  width: 22px;
  height: 22px;
  background-position: -257px -135px;
}

.sprite_main-icon_arrow_gray_up {
  width: 13px;
  height: 9px;
  background-position: -283px -135px;
}

.sprite_main-listing__filter {
  width: 19px;
  height: 18px;
  background-position: -2px -161px;
}

.sprite_main-listing__filter_arrow_down {
  width: 10px;
  height: 12px;
  background-position: -46px -148px;
}

.sprite_main-listing__filter_color-checked {
  width: 22px;
  height: 22px;
  background-position: -60px -161px;
}

.sprite_main-listing__filter_reset_red {
  width: 10px;
  height: 10px;
  background-position: -86px -148px;
}

.sprite_main-listing__switch_tile {
  width: 44px;
  height: 32px;
  background-position: -86px -170px;
}

.sprite_main-listing__switch_tile-wide {
  width: 44px;
  height: 32px;
  background-position: -134px -170px;
}

.sprite_main-listing__switch_tile-wide_active {
  width: 44px;
  height: 32px;
  background-position: -182px -170px;
}

.sprite_main-listing__switch_tile_active {
  width: 44px;
  height: 32px;
  background-position: -230px -170px;
}

.sprite_main-main-size-ruller {
  width: 47px;
  height: 101px;
  background-position: -299px -2px;
}

.sprite_main-main-style-leaf-gray {
  width: 39px;
  height: 45px;
  background-position: -300px -107px;
}

.sprite_main-product-set-banner-cycle-white {
  width: 33px;
  height: 42px;
  background-position: -283px -156px;
}

.sprite_main-product__basket {
  width: 19px;
  height: 19px;
  background-position: -320px -156px;
}

.sprite_main-product__basket_done {
  width: 26px;
  height: 19px;
  background-position: -25px -179px;
}

.sprite_main-product__old-price {
  width: 90px;
  height: 29px;
  background-position: -2px -206px;
}

.sprite_main-product__old-price_detailed {
  width: 116px;
  height: 34px;
  background-position: -96px -206px;
}

.sprite_main-product__reviews-count {
  width: 29px;
  height: 29px;
  background-position: -278px -202px;
}

.sprite_main-product__star {
  width: 15px;
  height: 15px;
  background-position: -25px -156px;
}

.sprite_main-product__star_active {
  width: 15px;
  height: 16px;
  background-position: -320px -179px;
}

.sprite_main-product__wishlist {
  width: 26px;
  height: 21px;
  background-position: -320px -199px;
}

.sprite_main-product__wishlist_active {
  width: 26px;
  height: 21px;
  background-position: -216px -224px;
}

.sprite_main-product__wishlist_done {
  width: 26px;
  height: 19px;
  background-position: -246px -224px;
}

.sprite_main-product_delivery-truck {
  width: 35px;
  height: 21px;
  background-position: -311px -224px;
}

.sprite_main-product_image-gallery-play {
  width: 41px;
  height: 41px;
  background-position: -2px -249px;
}

.sprite_main-product_review-person-green {
  width: 23px;
  height: 26px;
  background-position: -47px -249px;
}

.sprite_main-product_ruller {
  width: 26px;
  height: 31px;
  background-position: -74px -249px;
}

.sprite_main-product_social-facebook {
  width: 9px;
  height: 18px;
  background-position: -104px -249px;
}

.sprite_main-product_social-odnoklasniki {
  width: 10px;
  height: 19px;
  background-position: -117px -249px;
}

.sprite_main-product_social-twitter {
  width: 19px;
  height: 16px;
  background-position: -131px -249px;
}

.sprite_main-product_social-vk {
  width: 20px;
  height: 11px;
  background-position: -154px -249px;
}

.sprite_main-product_warranty-thumb-up {
  width: 34px;
  height: 28px;
  background-position: -178px -249px;
}

.sprite_main-question {
  width: 62px;
  height: 62px;
  background-position: -216px -249px;
}

.sprite_main-scroll-arrow-gray-down {
  width: 8px;
  height: 5px;
  background-position: -100px -156px;
}

.sprite_main-scroll-arrow-gray-up {
  width: 8px;
  height: 5px;
  background-position: -112px -156px;
}

.sprite_main-slider-arrow-circle-white-left {
  width: 68px;
  height: 68px;
  background-position: -2px -315px;
}

.sprite_main-social__footer_facebook {
  width: 13px;
  height: 26px;
  background-position: -282px -249px;
}

.sprite_main-social__footer_instagram {
  width: 26px;
  height: 26px;
  background-position: -299px -249px;
}

.sprite_main-social__footer_vk {
  width: 29px;
  height: 17px;
  background-position: -104px -279px;
}

.sprite_main-social__side_facebook {
  width: 29px;
  height: 29px;
  background-position: -137px -279px;
}

.sprite_main-social__side_facebook_active {
  width: 29px;
  height: 29px;
  background-position: -282px -279px;
}

.sprite_main-social__side_instagram {
  width: 29px;
  height: 29px;
  background-position: -315px -279px;
}

.sprite_main-social__side_instagram_active {
  width: 29px;
  height: 29px;
  background-position: -74px -312px;
}

.sprite_main-social__side_vk {
  width: 29px;
  height: 29px;
  background-position: -107px -312px;
}

.sprite_main-social__side_vk_active {
  width: 29px;
  height: 29px;
  background-position: -140px -312px;
}


