.tabulator-offers
  padding-bottom: 40px
  padding-top: 40px
  width: 100%
  pointer-events: none
  > *
    pointer-events: auto
  .tab-wrapper
    display: table
    margin-bottom: 24px
    +media-xs(down)
      display: block
  .tab
    &:not(:last-of-type)
      padding-right: 40px
      &:before
        content: ""
        width: 1px
        height: 30px
        right: 20px
        top: 4px
        background-color: silver
        position: absolute
    position: relative
    +media-sm(down)
      width: auto
      padding-right: 20px
    font-size: 16px
    +media-xs(down)
      display: table
      width: 100%
      padding-right: 0
      background-color: #e8e8e8
      margin-bottom: 4px
      &:not(:last-of-type)
        border-bottom: 1px solid #e6e6e6
        padding-right: 0
        &:before
          content: none
      &.active
        color: #fff
        background-color: #00ad5d
        span
          border-bottom: 0
      &:hover:not(.active)
        background-color: #dadada
      span
        padding-top: 16px
        padding-bottom: 16px
    text-align: center
    cursor: pointer
    display: table-cell
    span
      padding-top: 10px
      padding-bottom: 10px
      line-height: 18px
      display: inline-block
    &.active
      span
        border-bottom: 5px solid #fcd82f
  .page-wrapper
    width: 100%
    margin-top: 24px
  .page
    display: none
    &.active
      display: block
.tabulator-details
  padding-bottom: 40px
  padding-top: 40px
  +col(18)
  pointer-events: none
  > *
    pointer-events: auto
  .tab-wrapper
    display: table
    margin-bottom: 24px
    +media-xs(down)
      display: block
  .tab
    font-size: 20px
    &:not(:last-of-type)
      padding-right: 40px
      &:before
        content: ""
        width: 1px
        height: 32px
        right: 20px
        top: 4px
        background-color: silver
        position: absolute
    position: relative
    strong
      font-size: 18px
      color: #969696
      font-weight: inherit
    +media-sm(down)
      width: auto
      padding-right: 20px
    +media-xs(down)
      display: table
      width: 100%
      padding-right: 0
      background-color: #e8e8e8
      margin-bottom: 4px
      &:not(:last-of-type)
        border-bottom: 1px solid #e6e6e6
        padding-right: 0
        &:before
          content: none
      &.active
        color: #fff
        background-color: #00ad5d
        span
          border-bottom: 0
      &:hover:not(.active)
        background-color: #dadada
      span
        padding-top: 16px
        padding-bottom: 16px
    text-align: center
    cursor: pointer
    display: table-cell
    span
      padding-top: 10px
      padding-bottom: 20px
      line-height: 18px
      display: inline-block
    &.active
      span
        border-bottom: 5px solid #fcd82f
  .page-wrapper
    width: 100%
    margin-top: 24px
  .page
    display: none
    &.active
      display: block