.instagram
  &__title
    +media-xs(down)
      width: 50%
      margin: 0 auto
    & > *
      vertical-align: bottom
    & > img
      margin-left: 20px
      +media-xs(down)
        width: 70px
        margin-left: 0
  &__track
    & > a
      height: 280px
      background-size: cover
      background-repeat: no-repeat
      background-position: center

